<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaTag}}
</head>
<body>
    <div class="father">
        {{>header}}
        <div class="about-page">
            <div class="info1 info-x">
                <img src="./images/profile.svg" alt="">
            </div>
            <div class="info2">
                <div class="field">
                    <h2><i class="fa-solid fa-user-tie"></i>  profession</h2>
                    <p>business man</p>
                </div>
                <div class="field">
                    <h2><i class="fa-solid fa-circle-info"></i>  gst no </h2>
                    <p>alpok025Nm5263</p>
                </div>
                <div class="field">
                    <h2> <i class="fa-solid fa-phone"></i>  phone number</h2>
                    <p>8556099419</p>
                </div>
                <div class="field">
                    <h2> <i class="fa-solid fa-envelope"></i>  mail id</h2>
                    <p>kumardinesh086@gmail.com</p>
                </div>
               
                <div class="field">
                    <h2><i class="fa-solid fa-user"></i>  experience</h2>
                    <p>7 years</p>
                </div>
               
            </div>
            <div class="info3 info-x">
                <img src="./images/app.svg" alt="">
            </div>
        </div>
        {{>footer}}
    </div>
</body>
</html>