<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaTag}}
</head>
<body>
    <div class="father">
       {{>header}}



        <div class="main-content">
            
            <div class="section1">
                <h1>we are launching our app for our prestigious <br>
                    customers.
                </h1>
                <p>For us customer are our first priority 
                    ,and for their best experiemce with us we have decided
                    to introduce our app so that our highly respectable customers can order
                    hasssle free and can have best ever experience .
                </p>
                <div class="btns">
                    <button><a href="./login">login</a></button>
                    <button><a href="./register">register</a></button>
                </div>
            </div>
            <div class="section2">
                <img src="./images/app.svg" alt="later onnn">
            </div>
        </div>
        {{>footer}}
    </div>
</body>
</html>