<div class="footer">
    <p >we are working on this project ans will definitely serve our 
        customers with best ui experience , copyright@2023 .
    </p>
    <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-snapchat"></i>
    </div>
</div>